@model LoginViewModel

<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row">

			<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
				<form method="post">
					<div asp-validation-summary="All">
					</div>
					<div class="login-form">
						<h4 class="login-title">Returning Customer</h4>
						<p><span class="font-weight-bold">I am a returning customer</span></p>
						<div class="row">
							<div class="col-md-12 col-12 mb--15">
								<label for="email">Enter your email address or username here...</label>
								<input asp-for="UsernameOrEmail" class="mb-0 form-control"  id="email1"
									   placeholder="Enter your email address or username here...">
							</div>
							<div class="col-12 mb--20">
								<label for="password">Password</label>
								<input asp-for="Password" class="mb-0 form-control" type="password" id="login-password" placeholder="Enter your password">
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-outlined">Login</button>
							</div>
							<div class="col-md-12">
								<input asp-for="RememberMe" type="checkbox" />
								<label >Remember Me</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>