@model SliderUpdateViewModel



<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Category</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input asp-for="Title" class="form-control" placeholder="name">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input asp-for="Description" class="form-control" >
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <input asp-for="Price" class="form-control" >
                </div>
                
                <div class="form-group">
                    <label>Image</label>
                    <input asp-for="Image" class="form-control" >
                </div>
                <input type="hidden" asp-for="ImageUrl" />
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-controller="Slider" asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>