@model List<BasketItemViewModel>
@inject IProductService service;

<main class="cart-page-main-block inner-page-sec-padding-bottom">
    <div class="cart_area cart-area-padding  ">
        <div class="container">
            <div class="page-section-title">
                <h1>Shopping Cart</h1>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="#" class="">
                        <!-- Cart Table -->
                        <div class="cart-table table-responsive mb--40">
                            <table class="table">
                                <!-- Head Row -->
                                <thead>
                                    <tr>
                                        <th class="pro-remove"></th>
                                        <th class="pro-thumbnail">Image</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Product Row -->
                                    @foreach (var item in Model)
                                    {
                                        
                                            var product = (await service.GetAsync(x => x.Id == item.ProductId, include: x => x.Include(x => x.ProductImages), enableTracking: false)).Data;
                                        
                                        <tr>
                                            <td class="pro-remove">
                                                <a href="#"><i class="far fa-trash-alt"></i></a>
                                            </td>
                                            <td class="pro-thumbnail">
                                                <a href="#">
                                                    <img src="@product!.Images!.FirstOrDefault(x=>x.IsMain==true)!.ImageUrl" alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title"><a href="#">@product.Name</a></td>
                                            @if (product.DiscountPrice != 0)
                                            {
                                                <td class="pro-price"><span>$@product.DiscountPrice</span></td>
                                            }
                                            else
                                            {
                                                <td class="pro-price"><span>$@product.MainPrice</span></td>                                                
                                            }
                                            <td class="pro-quantity">
                                                <div class="pro-qty">
                                                    <div class="count-input-block">
                                                        <input type="number" class="form-control text-center"
                                                               value="@item.Count">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                    <!-- Discount Row  -->

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-section-2">
        <div class="container">
            <div class="row">
                <!-- Cart Summary -->
                <div class="col-lg-12 col-12 d-flex">
                    <div class="cart-summary">
                        <div class="cart-summary-wrap">
                            <h4><span>Cart Summary</span></h4>
                            <p>Sub Total <span class="text-primary">$1250.00</span></p>
                            <p>Shipping Cost <span class="text-primary">$00.00</span></p>
                            <h2>Grand Total <span class="text-primary">$1250.00</span></h2>
                        </div>
                        <div class="cart-summary-button">
                            <a href="checkout.html" class="checkout-btn c-btn btn--primary">Checkout</a>
                            <button class="update-btn c-btn btn-outlined">Update Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>