@model ContactViewModel

<main class="contact_area inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_form">
                    <h3 class="ct_title">Send Us a Message</h3>
                    <form  method="post" class="contact-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Name <span class="required">*</span></label>
                                    <input type="text" asp-for="Name" id="con_name"  class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Email <span class="required">*</span></label>
                                    <input type="email" asp-for="Email" id="con_email"  class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Message</label>
                                    <textarea asp-for="Message" id="con_message" 
                                              class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-btn">
                                    <button type="submit"  id="submit" class="btn btn-black w-100"
                                            name="submit">
                                        send
                                    </button>
                                </div>
                                <div class="form__output"></div>
                            </div>
                        </div>
                    </form>
                    <div class="form-output">
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6078.108918727613!2d49.84234610000002!3d40.3854856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1731788397932!5m2!1sen!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div>
</main>