@model List<BasketViewModel>

@foreach (var basket in Model)
{

    <div class=" single-cart-block ">
        <div class="cart-product">
            <a href="product-details.html" class="image">
                <img src="~/image/products/cart-product-1.jpg" alt="">
            </a>
            <div class="content">
                <h3 class="title">
                    <a href="product-details.html">
                        @basket.ProductName
                    </a>
                </h3>
                <p class="price"><span class="qty">@basket.Count ×</span> @basket.ProductPrice</p>
                <button class="cross-btn"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
}
