@model AppUserStatusChangeViewModel

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Status</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All">
                </div>

                
                <label for="Role">When Lockout ends</label>
                <input asp-for="OnLockout" type="checkbox" class="form-control">
                <input asp-for="AppUserId" type="hidden" value="@Model.AppUserId"/>
                <button type="submit" class="btn btn-primary mr-2">Create</button>
                <a asp-controller="category" asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>